/* SignUp.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form {
  width: 100%;
  margin-top: 20px;
}

.form-grid {
  margin-top: 20px;
}

.button {
  margin-top: 20px;
}

.input-field {
  margin-bottom: 16px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.dark-text::placeholder {
  color: #9e9e9e !important; /* Adjust the placeholder color for dark theme */
}

.light-text::placeholder {
  color: #757575 !important; /* Adjust the placeholder color for light theme */
}
