/* Header.css */
.header {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
  margin-right: 10px;
}

.site-title {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  color: #ccc;
}

.nav-link:hover {
}

.user-info {
  display: flex;
  align-items: center;
}

.welcome-text {
  margin-right: 20px;
  font-size: 16px;
}

.sign-out-button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sign-out-button:hover {
  background-color: #1976d2;
}

.auth-links {
  display: flex;
  align-items: center;
}

.auth-links .nav-link {
  font-size: 16px;
  font-weight: 500;
}

.auth-links .nav-link:hover {
  color: #ffeb3b;
}

.header.dark {
  background-color: #333; /* Dark theme background color */
  color: #fff; /* Dark theme text color */
}

.header.light {
  background-color: #fff; /* Light theme background color */
  color: #333; /* Light theme text color */
}

.theme-toggle {
  margin-left: auto; /* Move the toggle to the right */
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3; /* Toggle color when switched on */
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
