.header-container {
  background-color: #1976d2;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-size: 16px;
}

.header-link:hover {
  opacity: 0.8;
}

.header-link.active {
  font-weight: bold;
  text-decoration: underline;
}
