/* Product.css */

.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.product-details {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 40px;
  margin-top: 20px;
  background-color: #1976d2;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail {
  font-size: 16px;
  margin-bottom: 8px;
}
